<!--包含头部文件-->
{include file="public/header" /}
<body>
<style type="text/css">
    .send{ width: 60px; height: 30px; margin-top: 10px; background-color: inherit; border-radius:5px; }
    .send:hover{ background-color: #ccc;}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 发朋友圈 </nav>
<div class="page-container">

<form action="{:url('Operate/upload',['username'=>$username])}" enctype="multipart/form-data" method="post">
    <textarea name="text" class="text" cols="50" rows="10"></textarea><br>
    <input type="file" name="image[]" /> <br>
    <input type="file" name="image[]" /> <br>
    <input type="file" name="image[]" /> <br>
    <input type="file" name="image[]" /> <br>
    <input type="submit" class="send" value="提交" />
</form>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
