<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 功能列表 </nav>
<div class="page-container">
    <div class="mt-20">
        帐号总数：
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="50">用户名</th>
                <th width="50">状态</th>
                <th width="50">登陆时间</th>
                <th width="100">功能操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="vo"}
            <tr class="text-c">
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <td class="text-c">{$vo.login_status|login_status}</td>
                <td class="text-c">{$vo.create_time}</td>
                <td class="td-manage">
                    <a href="" style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="删除"><i class="Hui-iconfont">接受</i></a>
                    <a href="" style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="删除"><i class="Hui-iconfont">点赞</i></a>
                    <a href="{:url('index/Operate/moments')}" style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="删除"><i class="Hui-iconfont">朋友圈</i></a>
                    <a href="" style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="删除"><i class="Hui-iconfont">添加好友</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        {$data->render()}
    </div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
