<!--包含头部文件-->
{include file="public/header" /}
<style>
    .table-style{ width: 300px; float: left; margin-right: 20px; margin-bottom: 20px;}
</style>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 模拟器总汇表 </nav>
<div class="page-container">
    {volist name="data" id="vo" key="k"}
    <table width="200"  class="table table-border table-bordered table-bg table-hover table-sort table-style">
        <tr class="text-c">
            <td rowspan="3" width="10">{$k}</td>
            <td colspan="6" width="50">运行帐号:{$vo.day_acc}-新增好友{$vo.new_fri|default=0}</td>
        </tr>
        <tr class="text-c">
            <td width="50">dds</td>
        </tr>
        <tr class="text-c">
            <td width="50"><a style="text-decoration:none" class="ml-5" href="{:url('Simulator/simulator',['id'=>{$k}])}" href="javascript:;" title="详情"><i class="Hui-iconfont">详情</i></a></td>
        </tr>
    </table>
    {/volist}


</div>
<!--包含头部文件-->
{include file="public/footer" /}
