<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 模拟器总汇表 </nav>
<div class="page-container">
<table width="100" border="1" >
    <tr class="text-c">
        <td rowspan="3" width="20">ds</td>
        <td colspan="6" width="40">dds</td>
    </tr>
    <tr class="text-c">
        <td width="40">dds</td>
    </tr>
    <tr class="text-c">
        <td width="40">dds</td>
    </tr>
</table>

</div>
<!--包含头部文件-->
{include file="public/footer" /}
