<!--包含头部文件-->
{include file="public/header" /}
<body>
<style type="text/css">
    .send{ width: 60px; height: 30px; margin-top: 10px; background-color: inherit; border-radius:5px; }
    .send:hover{ background-color: #ccc;}
    .select { height: 30px; width: 320px;}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 发朋友圈 </nav>
<div class="page-container">

<form action="" enctype="multipart/form-data" method="post">
    <textarea id="txta1" name="text" class="text" cols="50" rows="10" placeholder="不得超过100个字"></textarea><br>
    <select class="select">
    {volist name="data" id="vo" key="k"}
        <option>{$k}-{$vo.username}</option>
    {/volist}
    </select>
    <br>
    <input style="width:150px; height: 26px;  margin-bottom: 3px; margin-top: 5px;" type="text" value="" class="start">---
    <input style="width:150px; height: 26px;  margin-bottom: 3px; margin-top: 5px;" type="text" value="" class="end">
    <br>
    <div id="upload"></div>
    <input type="button" value="添加附件" class="send" onclick="createUploader()">
    <input type="submit" class="send" value="提交" >
</form>
</div>
<script>
    function createUploader(){
        var div= document.getElementById("upload");;
        var uploader = document.createElement("input");
        uploader.type = "file";
        uploader.name = "image[]";
        div.appendChild(uploader);
        var br = document.createElement("br");
        div.appendChild(br);
    }
    window.onload = function() { document.getElementById('txta1').onkeydown = function() { if(this.value.length >= 100) event.returnValue = false; } }
</script>
<!--包含头部文件-->
{include file="public/footer" /}
