<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 模拟器分组 </nav>
<div class="page-container">

  模拟器&nbsp;:&nbsp;

    <select name="simulator" class="simulator">
         {for start="1" end="$simulator"}
         <option class="simulator" value="{$i}">模拟器-{$i}</option>
         {/for}
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;帐号总数：<i style="color: red" class="all_accounts"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    有效帐号：<i style="color: red" class="valid_accounts"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    好友总数：<i style="color: red" class="all_friends"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    日新增总好友数：<i style="color: red" class="new_friends"></i>
    <!--&nbsp;&nbsp;-->

  <!--帐号&nbsp;:&nbsp;<select name="accounts" class="accounts">-->
                      <!--{volist name="acc" id="vo"}-->
                      <!--<option>{$vo.username}</option>-->
                      <!--{/volist}-->
                    <!--</select>-->
</div>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="40">ID</th>
                <th width="40">用户名</th>
                <th width="30">好友总数</th>
                <th width="50">日新增好友数</th>
                <th width="50">更新日期</th>
            </tr>
            </thead>
            <tbody class="accounts">
            {volist name="acc" id="vo" }
            <tr class="text-c">
                <td>{$vo.id}</td>
                <td>{$vo.username}</td>
                <th>{$vo.friends}</th>
                <td>{$vo.new_friends}</td>
                <td>{$vo.create_time}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript">
$('.simulator').change(function(){
    value = $(this).val();
    var url = "{:url('Operate/groupAccounts')}";
    $.post(url,{'data':value},function(data){
        accounts_html="";
        $(data).each(function(i){
            //accounts_html+="<option value="+this.id+">"+this.username+"</option>";
            accounts_html += "<tr class='text-c'><td>"+this.id+"</td><td>"+this.username+"</td><th>"+this.friends+"</th><td>"+this.new_friends+"</td><td>"+this.create_time+"</td></tr>";
        });
        $('.accounts').html(accounts_html);
    },'json');
    alert('sf');
});
</script>