<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 帐号管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('phone/list_phone')}" data-title="帐号列表" href="javascript:void(0)">帐号列表</a></li>
					<li><a _href="{:url('phone/del')}" data-title="删除列表" href="javascript:void(0)">已删帐号</a></li>
					<li><a _href="{:url('phone/sendAccounts')}" data-title="传送帐号" href="javascript:void(0)">传送帐号</a></li>
					<li><a _href="{:url('phone/error_list')}" data-title="有误帐号" href="javascript:void(0)">有误帐号</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 功能管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('Operate/index')}" data-title="功能列表" href="javascript:void(0)">功能列表</a></li>
					<li><a _href="{:url('Operate/sendNewAccounts')}" data-title="新账号上传" href="javascript:void(0)">新账号上传</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 分组管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('Operate/group')}" data-title="分组列表" href="javascript:void(0)">分组列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 模拟器管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('')}" data-title="模拟器列表" href="javascript:void(0)">模拟器列表</a></li>
				</ul>
			</dd>
		</dl>
		
	</div>
</aside>